<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BobaFileManager</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="flex flex-col min-h-screen bg-slate-200 text-slate-900">
    <div class="flex flex-col flex-grow mx-auto w-full">
        <main role="main" class="h-screen max-h-screen @if(User.Identity.IsAuthenticated) {<text>grid grid-rows-dashboard</text>} else {<text>flex flex-col</text>}">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
