<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BobaFileManager</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="flex flex-col min-h-screen bg-slate-200 text-slate-900">
    <div class="flex flex-col flex-grow mx-auto w-full">
        <main role="main" class="flex flex-col flex-grow">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
