@{
    ViewData["Title"] = "Welcome";
}

<section class="flex flex-col lg:flex-row lg:w-2/3 mt-auto lg:m-auto lg:items-center mx-10 mb-10">
    <svg role="img" class="h-72 w-full lg:w-80 mx-auto mb-5 lg:mb-0 lg:ml-0 lg:mr-24">
        <use xlink:href="/img/sprite.svg#illustration-rocket"></use>
    </svg>
    <div>
        <h1 class="text-2xl font-bold">
            Store all your files above clouds
        </h1>
        <p class="font-light text-slate-600 my-5">
            Connect your wallet and receive some free Boba to get you started uploading on the Arweave blockchain
        </p>
        @* VALID BROWSER, WITH METAMASK *@
        <div id="valid" class="hidden">
            <button type="button" id="add-wallet-btn"
                class="btn w-full lg:w-max bg-orange-400 hover:bg-orange-500 active:bg-orange-600">Connect to
                MetaMask</button>
        </div>
        @* SAFARI OR IPHONE *@
        <div id="invalid-browser" class="text-left border-l-4 border-rose-400 pl-3 py-1 hidden">
            <h1 class="text-2xl font-medium mb-2">Please use another browser!</h1>
            <p class="text-sm text-slate-500">
                Safari (and any other browser on iPhone) does not currently support MetaMask which is required for this
                web application to work.
            </p>
        </div>
        @* NO METAMASK *@
        <div id="no-metamask" class="text-left border-l-4 border-orange-400 pl-3 py-1 hidden">
            <h1 class="text-2xl font-medium mb-2">Please install MetaMask</h1>
            <p class="text-sm">
                <a href="https://metamask.io/" target="_blank"
                    class="text-sky-600 hover:text-sky-700 active:text-sky-800 active:underline">
                    Download MetaMask
                </a>
            </p>
        </div>
    </div>
</section>

@section Scripts
{
<script src="~/web3/web3.min.js"></script>

<script>
    window.userWalletAddress = null
    if (typeof window.ethereum !== 'undefined') {
        $('#valid').removeClass('hidden').addClass('flex');
        $(document).on('click', '#add-wallet-btn', function () {
            // Check if MetaMask is pointing to the right network
            if (ethereum.networkVersion !== '28') {
                window.ethereum.request({
                    method: 'wallet_addEthereumChain',
                    params: [{
                        chainId: '0x1c',
                        chainName: 'Boba Rinkeby Testnet',
                        nativeCurrency: {
                            name: 'Ethereum',
                            symbol: 'ETH',
                            decimals: 18
                        },
                        rpcUrls: ['https://rinkeby.boba.network/'],
                        blockExplorerUrls: ['https://blockexplorer.rinkeby.boba.network/']
                    }]
                })
                    .then(function (result) {
                        loginWithMetaMask();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            } else {
                loginWithMetaMask();
            }
        });
    } else {
        console.log("MetaMask not instaled!");
        // Check if user is on safari or using an iphone
        if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
            $('#invalid-browser').removeClass('hidden');
        } else {
            $('#no-metamask').removeClass('hidden');
        }
    }

    async function loginWithMetaMask() {
        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
            .catch((e) => {
                console.error(e.message)
                return
            })
        if (!accounts) { return }
        window.userWalletAddress = accounts[0]
        const account = accounts[0];
        const web3 = new window.Web3(window.ethereum);
        const message = "Login with " + window.userWalletAddress;
        const signature = await web3.eth.personal.sign(message, window.userWalletAddress)
        console.log(signature);
        $.get('/login', {
            address: window.userWalletAddress,
            signature: signature
        })
            .done(function (data) {
                console.log(data);
                window.location.href = '/';
            })
    }
</script>
}
